a, a:visited, a:hover, a:active {
  backface-visibility: hidden;
  position: relative;
  transition: .5s color ease;
  text-decoration: none; // NOSONAR This remove underline on link.
  color: #2a6589;
  cursor: pointer;
}

a:after {
  left: 50%;
  transform: translateX(-50%);
}

a:hover {
  color: #0e3d59;
}

a.link-effect:after {
  content: '';
  transition: .5s all ease;
  backface-visibility: hidden;
  position: absolute;
  bottom: -.25em;
  height: 5px;
  height: .35rem;
  width: 0;
  background: #0e3d59;
}

a.link-effect:hover:after {
  width: 100%;
}
